html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent;  
}

.topnav {
  background-color: #78a5ff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
  align-content: center;
  align-items: center;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0.0292683s;
}

.topnavButton {
  padding: 10px 10px;
  color: black;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  font-family: "Neucha", cursive;
  border-radius: 5%;
  text-decoration: none; 

  &.active {
    text-decoration: underline;
    font-weight: bold;
  }
}

.topnavButton:hover {
  text-decoration: underline;
  font-weight: bold;
}

.appointmentButtonOnTop{
  float: left;
  padding: 5px 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
  font-family: "Neucha", cursive;
  border-radius: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

.appointmentButtonOnTop:hover {
  background-color: rgb(45, 33, 33);
  color: white;
}

.errImg {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 5% auto;
  max-height: 80vh;
  overflow: hidden;
}

@media (max-width: 500px) {
  .errImg {
    margin: 20% auto;
  }
}